@import '../variables';

.contact{
    background: $bg-grey;
}

.list-title{
    font-weight: bold;
    text-transform: uppercase;
    color: $font-black;
}

ul{
   padding-left: 0;
   li{
       list-style: none;
   } 
}