$breakpoint-sm: 766px; /* Use bootstraps instead.. */
$breakpoint-lg: 1300px;

$orange: #da491c;
$white: #FFFFFF;

$font-gray: #333333;
$font-black: #000000;
$font-faded: #4c4b4b;
$font-hint: #696969;

$border-grey: #cccccc;
$bg-black: #292929;
$bg-grey: #efefef;